/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pier+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Seasons&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base del proyecto */
body {
  @apply font-sans bg-aurea-primary text-aurea-white;
}

html { scroll-behavior: smooth; }
